.desk-membership{
  > ul{
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  .active{
    border-bottom: 1px solid $color-black;
  }
  .stepContents{
    width: 50%;
    margin: 10px auto;
  }
}