.ok-cancel{
    padding: 1rem;
    width: 100%;
    h3{
        margin-top: 9rem;
        text-align: center;
        font-size: 2rem;
    }
    a{
        margin-top: 1rem;
        width: 100%;
        text-align: center;
        text-decoration: underline;
    }
    button{
        @include round-btn();
        width: 100%;
        margin-top: 22rem;
    }
}